apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-ui
  labels:
    app: api-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-ui
  template:
    metadata:
      labels:
        app: api-ui
    spec:
      containers:
      - name: nginx
        image: api-ui:v4
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: api-ui
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: api-ui

